body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005f73; /* azul escuro */
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

button {
    background-color: #94d2bd; /* verde azulado claro */
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

h3 {
    border-bottom: 2px solid #e9d8a6; /* amarelo pastel */
}

#chaves div {
    margin: 20px 0;
}